#!/usr/bin/env bash

# Skip on Silverblue (immutable ostree) or inside a toolbox container
if [ ! -f /run/ostree-booted ] && [ ! -f /run/.toolboxenv ]; then
  watch_file devbox.json devbox.lock
  eval "$(devbox shellenv --format bash --install)"
  eval "$(mise activate bash)"
fi

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details
